.tablist-component {
    .ant-tabs-tab{
        padding: 0 !important
    }
  .closeCircle {
    visibility: hidden;
    margin-right: 0 !important;
  }
    .nav-link{
        padding:10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
  .nav-link:hover .closeCircle {
    visibility: visible;
  }
  .nav-link.active .closeCircle {
    visibility: visible;
  }
  .unsaved-icon {
    display: inline-block;
    background: #d9534f;
    width: 13px;
    height: 13px;
    border-radius: 50%;
  }
  .withUnsaved.nav-link .closeCircle {
    display: none;
  }
  .withUnsaved.nav-link:hover .closeCircle {
    display: inline-block;
  }
  .withUnsaved.nav-link:hover .unsaved-icon {
    display: none;
  }
  .paneTitle{
      margin-right: 6px;
  }
}