.App{
    .slideWrap{
        padding: 6px;
        background: hsl(209, 100%, 82%);
        .slide{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #000;
        }
    }
}